.register{
    text-align: center;
}

.header{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h4{
    font-family: 'Open Sans', sans-serif;
}

.signIn{
    padding-top: 5vh;
padding-left: 15vh
}