h4{
    font-family: 'Open Sans', sans-serif;
}
.paperStyle{
    padding-top:5vh;
    padding-right: 1vh;
    padding-left: 4vh;
    height: 80vh;
    width: 105vh;
    margin:12vh auto
};
.textStyle {
    width: 25vh;
    padding-right: 15vh
 
    };

.textField{
    width:52vh;
    margin-top:20px;
    padding: 20vh
};


.head {
    color : orange;
     };

.button{
    width: 52vh;
    padding-top: 4vh;

    
    
    };
.box{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-top: 5vh;
}   

.name{
    display: flex;
    flex-flow: row wrap;
   
}

.register-avatar{
    position: relative;
    width: 350px;
    height: 200%;
    left: 58vh;
    bottom: 55vh;
  
}
