.register {
    text-align: center;
}

.fieldStyle {
    margin: 2vh;
};

.send {
    padding-top: 15px;
    padding-left: 35px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    margin: 35px;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

