.resetfooter {
    display: flex;
    justify-content: center;
  }
  
  .buttonFooter1 {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    justify-content: space-between;
    //align-items: center;
    float: right;
  }
  .paperStyles {
    padding: 30px;
    height: 65vh;
    width: 310px;
    margin: 70px auto;
  }
  h2 {
    font-family: "Prompt", sans-serif;
  }
  h3 {
    font-family: "Prompt", sans-serif;
  }
  .MuiButton-fullWidth {
    width: 176px !important;
  }